
.carrusel{
    display: grid;
    grid-auto-flow: column;
    /* scroll-behavior: auto; */
    gap: 1.2rem;
    /* overflow-y: auto; */

    /* para movil */
    /* overscroll-behavior-x: contain; */
    scroll-snap-type: x mandatory; 
    /* para movil */

    /* scrollbar-width: none; */

    overflow-x: scroll;
    min-width: 80%;
    margin: 0 auto;
}

/* .carrusel::-webkit-scrollbar{
    display: none;
} */

.cardd{
    scroll-snap-align: start;
    border-radius: 30px;
    min-height: 200px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardd:nth-child(odd){
    background: linear-gradient(-222deg,#fbd52d,#efa3be);
}

.cardd:nth-child(even){
    background: linear-gradient(-222deg,#ff70af,#5fa8f5);
}